{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "singleQuote": true,
  "jsxSingleQuote": true,
  "importOrder": ["^node:(.*)$", "^[a-zA-Z0-9]", "^@/.*", "^\\..*"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}